.search__form {
  font-size: 1.14em;
  padding-right: 3.5em;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 2.8em;
  background-color: #fff;
  border-bottom: 1px solid #df4142;
  padding-left: 0.75em;
}
